﻿@{
    ViewBag.Title = "Home Page";
}







<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="list-group">
                <br /><br /><br />
                <a href="#" class="list-group-item">Bay</a>
                <a href="#" class="list-group-item">Bayan</a>
                <br /><br /><br />
                <a href="#" class="list-group-item">Kazak</a>
                <a href="#" class="list-group-item">Pantolon</a>
                <a href="#" class="list-group-item">Gömlek</a>
                <a href="#" class="list-group-item">Mont</a>
                <a href="#" class="list-group-item">Bot</a>
                <a href="#" class="list-group-item">Ayakkabı</a>



            </div>
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">24.99 TL</h4>
                            <h4>
                                <a href="#">İlk İlan</a>
                            </h4>
                            <p>İnce Kazak</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 görüntüleme</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">64.99 TL</h4>
                            <h4>
                                <a href="#">İkinci ilan</a>
                            </h4>
                            <p>Jean pantolon</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">12 görüntüleme</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">74.99 TL</h4>
                            <h4>
                                <a href="#">Üçüncü ilan</a>
                            </h4>
                            <p>İnce yazlık rahat ayakkabı</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">31 görüntüleme</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">84.99 TL</h4>
                            <h4>
                                <a href="#">Dördüncü ilan</a>
                            </h4>
                            <p>İnce deri ceket çok uygun</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">6 görüntüleme</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">94.99 TL</h4>
                            <h4>
                                <a href="#">Beşinci ilan</a>
                            </h4>
                            <p>Çok kullanışlı uygun kaban</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">18 görüntüleme</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr>

</div>


<script src="js/jquery.js"></script>

<script src="js/bootstrap.min.js"></script>

